body{
    background-color: #d4af37;
}
.tired{
    background-image: url(https://i.postimg.cc/636CKhyw/peakpx.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 91vh;
    background-attachment: fixed;
}
.btn-tc{
  background: #101010;
}
.btn-tc:hover{
  background: #d4af37;
  color: #000000;
}